.loading {
    color: var(--color-primary);
    font-size: var(--font-size-large);
    font-weight: bold;
}

.error {
    color: var(--color-error-dark);
    font-size: var(--font-size-large);
    font-weight: bold;
}

/* header */
.listings__header {
    color: var(--color-text-light);
    font-size: var(--font-size-large);
    padding-bottom: var(--spacing-x4);
}

.listings__header__results {
    color: var(--color-primary-dark);
    font-size: var(--font-size-x-large);
    font-weight: bold;
}

.listings__header__length {
    color: var(--color-primary);
}

.listings__header__keyword {
    color: var(--color-primary);
}

.listings__header__country {
    color: var(--color-primary);
}

/* grid */
.listings__grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    color: var(--color-text-light);
    border-top: 1px solid var(--color-borders);
    padding-top: var(--spacing-x4);
}

.listing {
    color: var(--color-text);
    height: auto;
    font-size: var(--font-size-default);
}

.listing__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-text-dark);
    font-size: var(--font-size-large);
    font-weight: bold;
    padding-bottom: var(--spacing);
}

.listing__price {
    color: var(--color-primary);
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.listing__location {
    float: right;
    color: var(--color-text-light);
    font-size: var(--font-size-medium);
}

.listing__img {
    height: 15em;
}

.listing img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding-top: var(--spacing-x2);
}

.listing__description {
    white-space: unset;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: var(--spacing-x2);
}

.listing__button {
    background-color: var(--color-primary-light);
    border: none;
    color: var(--color-text-dark);
    padding: var(--spacing) var(--spacing-x2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-size-medium);
    margin-right: var(--spacing-x2);
    margin-top: var(--spacing-x2);
    cursor: pointer;
    border-radius: var(--spacing);
    font-weight: bold;
}

@media (min-width: 800px) {

    /* tablet */
    .listings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {

    /* desktop */
    .listings {
        grid-template-columns: repeat(3, 1fr);
    }
}